.hero {
  padding: 60px 20px;
  text-align: center;
}

.solutions-section,
.why-section {

}

.solutions-section ul,
.why-section ul {

  line-height: 1.8;
}

.closing-line {

  font-weight: bold;
  text-align: center;
}

.container {
  flex-flow: column wrap;
}